body, main {
    /* font-family: 'Arial, Helvetica, sans-serif'; */ 
    background: #ffffff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.navbar  a {
    font-size: 21.2px;
}

#navBarBrand {
    font-size: 30px;
    font-weight: 700;
}

#banner {
    background-color: #ffffff;
}

#banner h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;
}
.btn {
    margin: 10px;
}
.abcjs-midi-clock {
     display: none !important;
 }

.abcjs-midi-progress-background {
     display: none !important;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 30px;
  margin-bottom: 16px;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}


/* Info button */
.tooltip1 {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}


/* AbcEditor */
#outer {
     overflow: hidden;
}

#paper0 {
     text-align: center;
     overflow-x: auto !important;
}

.warnings:empty {
    display: none;
}

.abcjs-tempo-wrapper {
     display: none;
}

a:hover {
    text-decoration:none;
}

#aNoColor {
    color: #000000;
    text-decoration: none;
}

#aNoColor:hover 
{
     color:#007bff;
     text-decoration:none; 
     cursor:pointer;  
}


